## === SYSTEM / IDE ===
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
.project
.classpath
.settings/

## === BUILD ARTEFACTS ===
bin/
obj/
out/
[Bb]uild/
[Ll]og/
[Tt]emp/
[Tt]mp/

## === TESTS / RESULTS ===
TestResults/
*.trx
*.coverage
*.coveragexml
*.testsettings
*.runsettings

## === PACKAGES / DEPENDENCIES ===
packages/
*.nupkg
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json

## === AUTO GENERATED ===
Generated*/ 
*.g.cs
*.g.i.cs

## === CONFIG / LOCAL ===
appsettings.Development.json
launchSettings.json
*.local.json
*.env
.env*

## === USER SPECIFIC ===
*.dbmdl
*.bak
*.backup
*.log
*.tlog
*.cache
*.tmp

## === JENKINS / CI ===
*.coverage*
*.log
*.xml
*.html
/test-output/
/reports/
/artifacts/
/logs/

## === DRIVER / BROWSERS ===
chromedriver.exe
msedgedriver.exe
geckodriver.exe
IEDriverServer.exe

## === OS SPECIFIC ===
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

## === RESHARPER / RIDER ===
_ReSharper*/
*.DotSettings.user

## === DOCKER  ===
*.pid
docker-compose.override.yml
